body {
    width: 100%;
}

main {
    margin: 0 auto;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.cardAvatar {
    float: left;
}

.cardAvatar img {
    width: 100px;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.info {
    float: left;
    margin: 0% 5% 0% 5%;
}

.info p {
    display: flex;
    justify-content: center;
}

.login {
    font-size: 15px;
}

.card {
    border-radius: 3%;
}

.cardPerfil {
    float: left;
    padding: 20px 10px 10px 10px;
}

.cardDate {
    float: left;
    padding: 20px 10px 0px 15px;
    font-size: 14px;

}

.cardInfo {
    list-style-type: none;
    border-top: solid thin #DFDFDF;
    border-bottom: solid thin #DFDFDF;
    padding-top: 10px;
}

.cardLink {
    display: flex;
    justify-content: center;
    padding-top: 0px;
}

#inputSearch {
    width: 300px;
}